html {
  min-height: 100%
}

form {
  padding:20px;
  margin-top:60px;
}

form button, form h5 {
  margin: 20px;
}

body {
  background-color: aliceblue;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: blue;
  box-shadow: none;
}